@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  font-family: "Poppins", sans-serif;
}

.container {
  background-color: #fff;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 500px;
  padding: 20px 0;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  font-weight: 500;
  color: #142b37;
  border-radius: 5px;
  display: grid;
  justify-content: center;
}

.wrapper {
  width: 100%;
  text-align: center;
}

input[type="range"] {
  display: inline-block;
  width: 300px;
  margin-left: 10px;
  margin-top: 25px;
}

span {
  display: inline-block;
  text-align: center;
  margin: 20px 0;
  background-color: #0075ff;
  color: #fff;
  padding: 10px 30px;
  font-size: 18px;
  letter-spacing: 0.5px;
  border-radius: 2px;
}
